p {
    font-family: Arial, sans-serif;
    color: #333;
}

em{
        text-decoration: overline;
    }

    h2{
        text-decoration: line-through;
    }

    h3{
        text-decoration: underline;
    }

    a{
        text-decoration: none;
    }